/*
  Global style over-rides for leaflet classes.

  Certain default styling by leaflet must be done globally since the
  scoped css won't get detected when applied to the injected leaflet
  objects / components.
*/

.leaflet-tooltip {
  position: absolute;
  display: table-caption;
  background-color: #3e3e3e;
  color: #dcdcdc;
  border: 1px solid #202020;
  border-radius: 0;
  padding: 1px;
  box-shadow: none;
  font-size: 12px;
  font-weight: lighter;
  z-index: 900;
  text-align: center;
  white-space: normal; // wraps text vertically
}

