/*
  Global style over-rides for leaflet classes.

  Certain default styling by leaflet must be done globally since the
  scoped css won't get detected when applied to the injected leaflet
  objects / components.
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

.leaflet-tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  box-shadow: none;
  color: rgb(98, 98, 98);
  font-family: "Roboto", "StratumNo2", Helvetica;
  font-size: 11px;
  font-weight: 600;
  z-index: 900;
  text-align: center;
  white-space: normal; // wraps text vertically
  padding: 5px;
}

.leaflet-popup-tip {
  background-color: #d73f09;
}

$--popupBorderRadius: 5px;
.leaflet-popup-content-wrapper {
  padding: 0;
  border-radius: $--popupBorderRadius;
}

.leaflet-popup-content {
  padding: 0;
  margin: 0;
}

a.leaflet-popup-close-button {
  font-size: 20px !important;
  color: rgb(254, 254, 254) !important;
  text-shadow: 1px 1px 2px black !important;
  :hover {
    color: rgb(200, 200, 200) !important;
  }
}
